body { background-image: url(./assets/worldbackground.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    
}
header{
    text-align: center;
}
#submitForm{
    left:auto;
    right:auto;
    /* text-align: center; */
    /* max-width: 300px; */
    border:2px solid black;
    border-radius: 3px;
    padding: 5px;
    display: flex;
    
    
   
    
}
.countryYearForm{
        display:flex;
        justify-content:center;
        
    
}
#submitButton{
    margin-top: 32px; 
    margin-bottom: 20px;
    margin-left: 5px
}

.resultsSection{
    display:flex;
    justify-content:center;
}

.resultsTable{
    border:2px solid black;
    border-radius: 3px;
    padding: 5px;
    max-width: 80%;


}

